<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" dir="ltr">
  <head>
    <title>{{ if .IsPage }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ else }}
      <meta name="description" content="{{ .Site.Params.author_description }}">
    {{ end }}
    <link rel="icon" href="{{ .Site.BaseURL }}img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}img/favicon/apple-touch-icon.png" />

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ partial "seo/og.html" . }}



    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/r4c-color.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/tachyons.min.css">

  </head>
  <body class="sans-serif bg-osd ink ph2">
